* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('../bh3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    background-color: #91C9FD;
}

form{
    border: 0px solid black;
    border-radius: 20px;
    height: 400px;
    width: 400px;
    padding: 25px;
    margin: 15px;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: auto;
    margin-top: 10%;
}

form div:nth-child(1)
{
    font-size: 38px;
    margin-bottom: 10px;
    font-weight: bolder;
    
}

form div:nth-child(2)
{
    font-size: 18px;
    margin-bottom: 10px;
}
form input{
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #F2F2F2;
    border: none;

}
form div:nth-child(9)
{
    margin: 20px 10px;
    text-decoration: none;
}