* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.main {
    height: 90vh;
    background-image: url('./images/bg.jpg');
    background-size: max(2000px, 100vw);
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;

}

.box {
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 0.60;
    position: absolute;
    top: 0;
    color: white;

}

nav {
    height: 82px;
    max-width: 80vw;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 5px;

}

nav img {
    position: relative;
    z-index: 10;
    color: red;
}

nav button,
select {
    position: relative;
    z-index: 10;
    padding: 8px 20px;
}

nav button {
    background-color: red;
    color: white;
}

nav select {
    background-color: #161412;
    color: white;
    padding: 8px 5px;
}

.text {
    height: calc(100% - 92px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
    text-align: center;
    gap: 15px;
}

.text> :nth-child(1) {
    font-weight: bolder;
    font-size: 42px;
}

.text> :nth-child(2) {
    font-weight: 700;
    font-size: 30px;
}

.text> :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
}

.text> :nth-child(4) {
    font-weight: 400;
    font-size: 16px;
}


.text input {
    height: 7vh;
    width: 25vw;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(23, 23, 23, 0.55);
    border: 1px solid green;
}

.text button {
    height: 7vh;
    width: 10vw;
    background-color: red;
    color: white;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
}

.block {
    height: 1vh;
    background-color: rgb(68, 66, 66);
    position: relative;
    z-index: 20;
}

.first-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 80vw;
    color: white;
    margin: auto;
}


.secImg {
    position: relative;
}

.secImg img {
    width: 450px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 50px;
    right: 0;
    width: 400px;

}

.third video {
    position: absolute;
    top: 20px;
    right: 90px;
    width: 280px;
}


.first-box>div :nth-child(1) {
    font-size: 44px;
    font-weight: bolder;
}

.first-box>div :nth-child(2) {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}

.first-box>div :nth-child(3) {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}

.faq {
    color: white;
    max-width: 80vw;
    margin: auto;
    margin-top: 50px;
}

.faq>div:nth-child(1) {
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 50px;

}

.faq svg {
    filter: invert(55);
}


.q1 {
    transition: all 0.5s ease-out;
    border: 0px solid white;
    max-width: 70vw;
    margin: auto;
    padding: 25px 25px;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 28px;
}

.q1:hover {
    background-color: rgb(65 65 65);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 60vw;
    margin: auto;
    padding: 20px 10px;
    margin-top: 40px;
    flex-wrap: wrap;
}



.Questions {
    color: white;
}



.footer a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-item {
    display: flex;
    flex-direction: column;

}


@media screen and (max-width:1300px) {

    nav {
        max-width: 100vw;
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    .text {
        text-align: center;
        padding: 0px 25px;

    }

    .first-box {
        flex-wrap: wrap;
        text-align: center;
        padding: 30px;
    }

    .text> :nth-child(1) {
        font-weight: bolder;
        font-size: 30px;
    }

    .text> :nth-child(2) {
        font-weight: bolder;
        font-size: 16px;
    }

    .text> :nth-child(3) {
        font-weight: bolder;
        font-size: 12px;
    }

    .btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        margin: 10px;
        gap: 20px;
    }

    .btns button {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px 30px;
        width: 35vw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text button {
        width: 40vw;
        gap: 10px;
        flex-wrap: wrap;
        font-size: 12px;
    }

    .text input {
        height: 7vh;
        width: 45vw;
        font-size: 18px;
        border-radius: 5px;
        background-color: rgb(23, 23, 23, 0.55);
        border: 1px solid green;
    }

    .secImg {
        position: relative;
    }

    .secImg img {
        width: 300px;
        position: relative;
        z-index: 10;
    }

    .secImg video {
        position: absolute;
        top: 50px;
        right: 0;
        width: 250px;

    }

    .third video {
        position: absolute;
        top: 5px;
        right: 55px;
        width: 180px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        padding: 20px;
    }
}